.sidebar-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0009;
    z-index: 500;
}

.sidebar-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow-y: auto;
}

.sidebar-content > h4 {
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--text-white);
}

.sidebar-content > button {
    position: absolute;
    top: 0.43rem;
    left: 0.2rem;
    z-index: 20;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar-content > button > svg{
    font-size: 1.5rem;
    fill: var(--color-primary);
}

.sidebar-content-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-content-menu > h4 {
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
}

.options-container {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.options-container > button {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--background-contrast);
    background-color: var(--background-contrast);
    color: var(--detail-color);
    cursor: pointer;
}


@media (min-width: 600px) {
    .sidebar-container {
        width: 20rem;
    }

}
